@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');
*{
  margin: 0;
  padding: 0;
}
:root {
    --primary-color: #260f69;
    --secondary-color: #3f258b;
    --tertiary-color: #4d31a0;
    --accent-color: #E91E63;
}
.menu{
  padding: 5em 1.5em;
  font-family: 'Open Sans Condensed', sans-serif;
}
.menu-1, .menu-5{
  background: #260f69;
}
.menu-2, .menu-4{
  background: #371d86;
}
.menu-3{
  background: #45299a;
}
.menu ul{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.menu li{
  display: inline-block;
  margin: 0 15px;
}
.menu a{
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
  padding: 4px 0;
}
